In [1]:
import pandas as pd
import copy
import numpy as np

from MV_S_previous_data import fn
df = pd.read_excel('Naive_S_P500.xlsx', sheet_name='return')

In [2]:
df = pd.read_excel('Naive_S_P500.xlsx', sheet_name='price')
df.head()

,Unnamed: 0,Date,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,60,2006-03-27,35.25,20.7944,16.93,13.13,83.08,35.33,35.79,94.61,...,28.710,56.99,37.13,39.6243,15.0321,20.7603,20.00,82.0495,5.0470,24.19
1,80,2006-04-24,35.79,19.6844,16.70,13.49,82.11,32.81,37.20,90.50,...,29.505,57.45,35.06,36.8843,14.9368,21.3689,19.64,81.8002,5.8354,23.73
2,100,2006-05-22,34.83,19.9763,18.03,12.12,80.02,33.18,29.91,84.95,...,29.875,51.74,33.52,36.0939,14.6099,20.1700,19.71,77.3309,7.4308,20.60
3,120,2006-06-19,35.07,20.2490,16.91,12.36,77.67,24.95,28.78,84.48,...,29.515,51.70,34.28,35.9886,15.2410,20.2173,19.64,71.6531,6.6146,22.23
4,140,2006-07-17,33.67,21.2825,19.75,12.42,73.70,20.92,27.59,89.65,...,29.230,48.82,34.73,35.9095,14.1650,18.4682,20.27,71.0585,7.8583,22.66

In [3]:
ret = copy.deepcopy(df.drop(columns=['Unnamed: 0']))
ret = ret.iloc[0:1, 1:397]
ret.head()

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,35.25,20.7944,16.93,13.13,83.08,35.33,35.79,94.61,61.2574,8.7525,...,28.71,56.99,37.13,39.6243,15.0321,20.7603,20.0,82.0495,5.047,24.19

In [17]:
ret.shape

(1, 396)

In [5]:
ret.iloc[0, 1]

20.7944

In [6]:
type(ret.iloc[0, 1])

numpy.float64

In [8]:
ret.shape

(1, 396)

In [19]:
ret.iloc[0, 395]

24.19

In [24]:
w1, w2 = {}, {}
w1

{}

In [25]:
w2

{}

In [30]:
import pandas as pd
import copy
import numpy as np

df = pd.read_excel('Naive_S_P500.xlsx', sheet_name='return')
ret = copy.deepcopy(df.drop(columns=['Unnamed: 0']))
ret = ret.iloc[20:80, 1:397]

df = pd.read_excel('Naive_S_P500.xlsx', sheet_name='price')
price = copy.deepcopy(df.drop(columns=['Unnamed: 0']))
price = price.iloc[0:1, 1:397]

n = [i for i in range(396)]
cov = ret.cov()
var = ret.var()
mean = ret.mean()

# Mission: Calculate the previous weight -> w[i] = w[i-1] * price[i]
w_buy_b4_calc, w_minus_b4_calc = [x for x in range(396)], [x for x in range(396)]

# w_buy_b4_calc: 1*n
w_buy_cur = {}
w_minus_cur = {}

# for i in range(396):
#     w_buy_cur[i] = w_buy_b4_calc[i]*price.iloc[0, i]
#     w_minus_cur[i] = w_minus_b4_calc[i]*price.iloc[0, i]

In [31]:
# w_buy_cur[i] = w_buy_b4_calc[i]*price.iloc[0, i]
# w_buy_cur[395]
w_buy_b4_calc[i]

395

In [32]:
price.iloc[0, 395]

IndexError: single positional indexer is out-of-bounds